
  .container_ajax {
    width: 20em;
    height: 17em;
    background-color: black;
    color: white;
    border: 1px solid white;;
    text-align: center;
    font-size: calc(var(--index) *0.7);
    
  }
  .result{
    width: 90%;
    height: 80%;
   
  }
