    /* Styles for gallery */
main{
    min-height: 85vh;
}
    .gallery {
        margin: auto;
        width: 100%;
        max-height: 60vh;
      }
  
      .main-photo {
        position: relative;
        width: 100%;
        max-height: 60vh;
        overflow: hidden;
      }
  
      .main-photo img {
        width: 100%;
        max-height: 60vh;
        object-fit: cover;
      }
  
      .preview-photos {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 20px;
      }
  
      .preview-photo {
        width: 100px;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
      }
  
      .pagination-line {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
  
      .arrow,
      .page-number {
        margin: 0 5px;
        display: inline;
        cursor: pointer;
        color: white;
        font-size: 24px;
      }
  
      .arrow:hover,
      .page-number:hover {
        color: pink;
      }
  
      .arrow.disabled {
        color: gray;
        cursor: default;
      }
  
      .page-number.active {
        color: red;
      }
  
      #fullscreenContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
      }
  
      .fullscreen-photo {
        position: relative;
        max-width: 80%;
        max-height: 80%;
      }
  
      .fullscreen-photo img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
  
      #closeButton,
      #nextButton,
      #prevButton {
        position: absolute;
        top: 10px;
        color: white;
        font-size: 30px;
        cursor: pointer;
      }
  
      #closeButton {
        top: 10px;
        right: 10px;
      }
  
      #nextButton {
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
  
      #prevButton {
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
      @media (max-width: 767px) {
        .gallery {
          max-height: 40vh;
        }
      
        .main-photo,
        .main-photo img {
          max-height: 40vh;
        }
      
        .preview-photos {
          flex-wrap: wrap;
          gap: 5px;
          margin-top: 10px;
        }
      
        .preview-photo {
          width: 70px;
          height: 70px;
        }
      
        .pagination-line {
          margin-top: 5px;
        }
      
        .arrow,
        .page-number {
          font-size: 18px;
        }
      
        #fullscreenContainer {
          justify-content: flex-start;
          padding: 10px;
        }
      
        .fullscreen-photo {
          max-width: 100%;
          max-height: 100%;
        }
      
        #closeButton,
        #nextButton,
        #prevButton {
          font-size: 24px;
        }
      }
      