.map-container {
    position: relative;
    display: inline-block;
    margin: 40px;
    min-height: 77vh;
  }

  .map-container img {
    display: block;
    width: 500px;
    height: auto;
    zoom: 2;
  }
  @media (max-width: 767px) {
    .map-container {
      margin: 20px;
      min-height: 50vh;
    }
  
    .map-container img {
      width: 100%;
      max-width: 300px;
      height: auto;
      zoom: 1;
    }
  }