
.hero {
	width: calc(var(--index) * 28);
	position: absolute;
	left: 50vw;
	top: -9vh;
	z-index: -1;
}
.main-header {
	margin-left: 4%;
	height: 60vh;
	
}
.container {
	padding: 0 6vw;
}
.main-title {
	font-size: calc(var(--index) * 6);
	position: absolute;
	width: min-content;
	bottom: 16vh;
	line-height: .9;
}
.main-title2 {
	font-size: calc(var(--index) * 2);
	color:rgb(204, 153, 87);
	position: absolute;
	bottom: 5vh;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
.text-block__p {
	line-height: 1.75;
}
footer {
    width: 90%;
    height: 10%;
    margin: 10px;
    flex-shrink: 0;
}
@media (max-width: 767px) {
	.hero {
	  width: calc(var(--index) * 28);
	  position: absolute;
	  left: 50vw;
	  top: -9vh;
	  z-index: -1;
	}
  
	.main-header {
	  margin-left: 4%;
	  height: 40vh;
	}
  
	.container {
	  padding: 0 6vw;
	}
  
	.main-title {
	  font-size: calc(var(--index) * 4);
	  position: absolute;
	  width: min-content;
	  bottom: 8vh;
	  line-height: .9;
	}
  
	.main-title2 {
	  font-size: calc(var(--index) * 1.5);
	  color: rgb(204, 153, 87);
	  position: absolute;
	  bottom: 3vh;
	}
  
	.gallery {
	  display: flex;
	  flex-direction: column;
	  padding: calc(var(--index) * 4) 0;
	}
  
	.gallery > * {
	  flex: none;
	  margin-bottom: var(--gallery-gap);
	}
  
	.gallery__item {
	  max-width: calc(var(--index) * 21);
	  margin-bottom: var(--gallery-gap);
	  max-height: auto;
	  border-radius: 8px;
	}
  
	.gallery__left {
	  margin-top: calc(var(--gallery-gap) * 1.5);
	}
  
	.gallery__right .gallery__item {
	  margin: 0;
	  margin-top: var(--gallery-gap);
	}
  
	.text-block__h {
	  font-size: 1.5rem;
	  line-height: 2rem;
	  margin-bottom: 1rem;
	}
  
	.text-block__p {
	  line-height: 1.5;
	}
  
	footer {
	  width: 90%;
	  height: auto;
	  margin: 10px;
	  flex-shrink: 0;
	}
  }
  