/*--Navigation--*/
nav{
  font-size: calc(var(--index) *1);
  margin-top: 2%;
  margin-left: 2%;
  display:flex;
  z-index: 99;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fbf9f9;
  text-decoration: none;
  padding: 0.5em;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  padding: 0.5em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 99;
}

nav ul li:hover > ul {
  display: flex;
  flex-direction: row;
  opacity: 1;
  pointer-events: auto;
}

nav ul ul li {
  display: inline-block;
}

nav ul ul li a {
  color: #ffffff;
}

nav ul ul li:hover > ul {
  display: none;
}

nav ul li:hover > a {
  color: #ff1493;
}

nav ul li:hover > ul li:hover > a {
  color: #ff1493;
}

nav ul ul li a:hover {
  color: #ff1493;
}

nav ul ul {
  top: 100%;
  left: 0;
}
.footer{
  height: 5vh;
  width: 90%;
  text-align:left;
  padding-left: 40px;
  font-size: calc(var(--index) *0.8);
}

@media (max-width: 767px) {
  nav {
    font-size: calc(var(--index) * 0.8);
    margin-top: 1%;
    margin-left: 1%;
  }

  nav ul li a {
    padding: 0.3em;
  }

  nav ul ul {
    padding: 0.3em;
  }

  .footer {
    font-size: calc(var(--index) * 0.6);
    padding-left: 20px;
  }
}
