* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: outfit-c;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: 100px;
    color: #fafafa;
    font-family: raleway-c;
}

header {
    width: 90%;
    height: 10%;
    margin: 10px;
}

main {
    width: 90%;
    height: 80%;
    margin: 20px auto;
    text-align: center;
    flex: 1 0 auto;
}

footer {
    width: 90%;
    height: 10%;
    margin: 10px;
    flex-shrink: 0;
}

section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.h2board {
    text-align: right;
    margin-right: 50px;
}

.button {
    padding: 5px 10px;
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

.button:hover {
    background-color: #ff1493;
}

/* Media Queries for Mobile Devices */

@media (max-width: 768px) {
    header {
        width: 100%;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .h2board {
        text-align: center;
        margin-right: 0;
    }

    .button {
        margin-left: 0;
        margin-top: 10px;
    }
}
